<div class="modal hide " id="newFileForm">
<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3><%= title %></h3>
</div>
<div class="modal-body">
  <form class='form-horizontal'>
    <label class='control-label es_label'>FileName: </label>
    <div class='controls es_control'>
      <input type='text' name='fileName' id='fileName' class='es_input'>
    </div>
  </form>
</div>
<div class="modal-footer">
  <a href="#" id='btn_file_create' class="btn btn-primary"> Create </a>
  <a href="#"  data-dismiss="modal" class="btn btn-primary"> Cancel </a>
</div>
</div>